*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background: rgb(255, 255, 255);

}

.header-components {
  text-align: center;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.c-player{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  background-image: linear-gradient(to bottom, teal, seagreen);
  margin: 0px auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 50px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.4), inset 6px 6px 12px rgba(111, 192, 230, 0.4)
}

.c-player>h4{
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.c-player>p{
  color: #AAA;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.c-player--details .details-img{
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.c-player--details .details-img img{
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 40px;
  object-fit: contain;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.4), -6px -6px 12px rgba(255, 255, 255, 0.1)
}

.c-player--details .details-title{
  color: #EEE;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4), -2px -2px 4px rgba(255, 255, 255, 0.2);
  text-align: center;
  margin-bottom: 10px;
}

.c-player--details .details-artist{
  color: #AAA;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2), -2px -2px 4px rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.c-player--controls{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 20px;
}

.c-player--controls .play-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 
      4px 4px 10px rgba(0, 0, 0, 0.4), 
      -4px -4px 10px rgba(255, 255, 255, 0.1), 
      inset -4px -4px 10px rgba(0, 0, 0, 0.1), 
      inset 4px 4px 10px rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  background-color: #00ffbf;
  color: rgb(89, 170, 139);
  font-size: 24px;
  cursor: pointer;
}

.c-player--controls .play-btn:hover {
  color: #00ffb3;
  background-color: inherit;
}

.c-player--controls .skip-btn{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-style: 18px;
}

.c-player .player--audio{
  background: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.c-player--controls .skip-btn:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.5);
  color: white;
  background-color: inherit;
}

audio{
  opacity: auto;
  outline-width: 0;
  margin-bottom: 5px;
  margin-top: -20px;
}

audio::-webkit-media-controls-play-button{
  display: none;
  align-items: center;
  justify-content: center;
}